<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"/>
<head>
    <meta charset="UTF-8"/>
    <title>Vinlista</title>
    <link rel="stylesheet" href = "styles.css"/>
</head>
<body>
<h1 id="title">Wine Rater 1.0</h1>
<div id="formContainer">
    <div id = "theForm">
        <div>
            <form action="results" method="POST" class="theForm">
                <input placeholder="Artikelnummer" name="articlenumber"/>
                <input type="submit"/>
            </form>
            <form action="user" method="GET" class="theForm">
                <input placeholder="Användarnamn" name="username"/>
                <input type="submit"/>
            </form>
        </div>
    </div>
    <!--<div id="block"></div>-->
</div>

</body>