body{
    background-color: antiquewhite;
}

div {
    display: flex;
    display: inline-block;
    background-color: aqua;
    flex-direction: row;
    align-content: flex-end;
}
a {
    display: flex;
    display: ;
}