<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Vinlista</title>
    <link rel="stylesheet" href = "styles.css"/>
</head>
<body>
    <h1>Vinlista</h1>

    <div id="articlenumber">
        <h3>Artikelnummer</h3>
        <li th:each = "wine : ${matchingWines}">
            <span th:text = "${wine.artnum}"/>
        </li>
    </div>
    <div id="name">
        <h3>Namn</h3>
        <li th:each = "wine : ${matchingWines}">
            <span th:text = "${wine.name}"/>
        </li>
    </div>
    <div id="price">
        <h3>Pris</h3>
        <li th:each = "wine : ${matchingWines}">
            <span th:text = "${wine.price}"/>
        </li>
    </div>
    <div id="year">
        <h3>Årgång</h3>
        <li th:each = "wine : ${matchingWines}">
            <span th:text = "${wine.year}"/>
        </li>
    </div>


    <a href="/">Startsida</a>
</body>
</html>